body {
    background-color: #F2F4F3;
}

::selection {
  background: #957D60;
  color: #F2F4F3;
}

html, body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
}
.footer {
    flex-shrink: 0;
}

.bg-body-inverse-info {
    background-color: #F2F4F3;
}

.bg-body-inverse-tertiary {
    background-color: #393f5d;
}

.bg-body-dark-accent {
    background-color: #965749;
}

.btn:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px;
}

.btn-secondary {
    color: #957D60;
}

.btn-secondary:hover {
    color: #965749;
}

.btn-primary, .btn-info, .btn-success, .btn-warning, .btn-danger {
    color: #F2F4F3;
}

.btn-primary:hover, .btn-success:hover, .btn-warning:hover, .btn-danger:hover {
    color: #965749;
}

.btn-info:hover {
    color: #957D60;
}

.carousel-inner {
    text-shadow: 2px 2px 5px black;
}

.navbar-toggler:hover {
    background-color: #965749;
}

.dropdown-item {
    color: #393f5d;
}

.dropdown-item:hover {
    background-color: #F2F4F3;
    color: #965749;
}

.card {
    width: 18rem;
    height: fit-content;
}

@media only screen and (max-width: 1010px) {
    .card {
      width: 100%;
    }
}

/* drinks machine */

.nozzle-cola {
    position: absolute;
	width: 120px;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: 100px solid #FF0000;
    margin-top: 450px;
    margin-left: calc(50% - 370px);
    z-index: 4;
}

.nozzle-orange {
    position: absolute;
	width: 120px;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: 100px solid #FFA500;
    margin-top: 450px;
    margin-left: calc(50% + 140px);
    z-index: 4;
}

.nozzle-lemon {
    position: absolute;
	width: 120px;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: 100px solid #FFFF00;
    margin-top: 450px;
    margin-left: calc(50% - 110px);
    z-index: 4;
}

.cup {
    position: absolute;
    border-top: 150px solid #555;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	height: 0;
	width: 125px;
    z-index: 5;
}

.machine {
    position: absolute;
    height: 300px;
    width: 800px;
    border-radius: 10px 10px 0px 0px;
    background-color: #393f5d;
    margin-top: 150px;
    margin-left: calc(50% - 450px);
}

.base {
    position: absolute;
    height: 400px;
    width: 800px;
    border-radius: 0px 0px 10px 10px;
    background-color: #957D60;
    margin-top: 450px;
    margin-left: calc(50% - 450px);
}

.cola-stream {
    position: absolute;
    height: 0px;
    width: 20px;
    border-radius: 10px 10px 10px 10px;
    background-color: rgb(52, 1, 3);
    margin-top: 450px;
    margin-left: calc(50% - 320px);
    z-index: 6;
}

.lemon-stream {
    position: absolute;
    height: 0px;
    width: 20px;
    border-radius: 10px 10px 10px 10px;
    background-color: #f0e79d;
    margin-top: 450px;
    margin-left: calc(50% - 60px);
    z-index: 6;
}

.orange-stream {
    position: absolute;
    height: 0px;
    width: 20px;
    border-radius: 10px 10px 10px 10px;
    background-color: #e36039;
    margin-top: 450px;
    margin-left: calc(50% + 190px);
    z-index: 6;
}

.cola-fill {
    position: absolute;
    border-top: 0px solid rgb(52, 1, 3);
	border-left: 0px solid transparent;
	border-right: 0px solid transparent;
	height: 0;
	width: 89px;
    margin-top: 845px;
    margin-left: calc(50% - 352px);
    z-index: 7;
}

.lemon-fill {
    position: absolute;
    border-top: 0px solid #f0e79d;
	border-left: 0px solid transparent;
	border-right: 0px solid transparent;
	height: 0;
	width: 89px;
    margin-top: 845px;
    margin-left: calc(50% - 92px);
    z-index: 7;
}

.orange-fill {
    position: absolute;
    border-top: 0px solid #e36039;
	border-left: 0px solid transparent;
	border-right: 0px solid transparent;
	height: 0;
	width: 89px;
    margin-top: 845px;
    margin-left: calc(50% + 158px);
    z-index: 7;
}

.btn-orange, .btn-cola, .btn-lemon {
    border-radius: 50%;
    height: 50px;
}

@font-face {
    font-family: 'digital_dreamregular';
    src: url('/font/digitaldream-webfont.woff2') format('woff2'),
         url('/font/digitaldream-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.screen {
    position: absolute;
    height: 100px;
    width: 350px;
    border-radius: 10px;
    background-color: #5cc691;
    margin-top: 200px;
    margin-left: calc(50% - 100px);
    z-index: 3;
    font-family: "digital_dreamregular";
}

/* table styling */

.table-group-divider {
    color: #808da4;
}