---
layout: layouts/base.njk
---

<div class="p-5 text-center">
  <h1 class="text-info">Bootstrap Examples</h1>
  <p class="text-primary">Bootstrap is the css framework that's being used to style and layout most of this website. Below are some examples of bootstrap components that can be used when developing a website.</p>
</div>