---
layout: layouts/base.njk
title: Database
---

<h1>MongoDB with Netlify functions</h1>
<ul id="books"></ul>
<button data-add-book class="btn btn-primary">Add book</button>

<script>
    const addBookButton = document.querySelector("[data-add-book]");

    (async () => {
        try {
            let results = await fetch("/.netlify/functions/get_books").then(response => response.json());
            results.forEach(result => {
                const listItem = document.createElement("li");
                listItem.innerText = result.title;
                document.getElementById("books").appendChild(listItem);
            });
        } catch (error) {
            console.error(error);
        }
    })();

    const myObj = {
        title: "Death on the Nile",
        author: "Agatha Christie",
        read: true
    }

    function buildQuery (data) {
        return new URLSearchParams(data).toString();
    }

    async function addBookToDB() {
        queryString = "/.netlify/functions/add_books?" + buildQuery(myObj);
        const result = await fetch(queryString);
    }

    addBookButton.addEventListener("click", addBookToDB);
</script>