---
layout: layouts/base.njk
title: Database
---

<h1>MongoDB with Netlify functions</h1>
<ul id="movies"></ul>
<button data-add-book class="btn btn-primary">Add book</button>

<script>
    const addBookButton = document.querySelector("[data-add-book]");

    (async () => {
        try {
            let results = await fetch("/.netlify/functions/get_movies").then(response => response.json());
            results.forEach(result => {
                const listItem = document.createElement("li");
                listItem.innerText = result.title;
                document.getElementById("movies").appendChild(listItem);
            });
        } catch (error) {
            console.error(error);
        }
    })();

    const myObj = {
        title: "Death on the Nile",
        author: "Agatha Christie",
        read: true
    }

    async function addBookToDB() {
        console.log("hello");
        const result = await fetch("/.netlify/functions/add_books?title=Death+on+the+Nile&author=Agatha+Christie&read=true");
        console.log(result);
    }

    addBookButton.addEventListener("click", addBookToDB);
</script>