---
layout: layouts/base.njk
title: Drinks Machine
---

<div class="p-5 text-center">
  <h1 class="text-info">Drinks Machine</h1>
  <p class="text-primary">; )</p>
</div>

<div class="container-fluid p-5 bg-body-inverse-tertiary text-secondary text-center">
    <p>Text here</p>
</div>

<div class="container-fluid p-5 bg-body-inverse-info text-info" style="height: 1000px;">
    <div class="cup"></div>
    <div class="nozzle-cola"></div>
    <div class="nozzle-lemon"></div>
    <div class="nozzle-orange"></div>
    <div class="machine"></div>
    <div class="base"></div>
    <button type="button" class="btn btn-cola" style="width: 110px;">Cola</button>
    <button type="button" class="btn btn-lemon" style="width: 110px;">Lemonade</button>
    <button type="button" class="btn btn-orange" style="width: 110px;">Orangeade</button>
</div>