---
layout: layouts/base.njk
title: Drinks Machine
---

<div class="p-5 text-center">
  <h1 class="text-info">Drinks Machine</h1>
  <p class="text-primary">; )</p>
</div>

<div class="container-fluid p-5 bg-body-inverse-tertiary text-secondary text-center">
    <p>Text here</p>
</div>

<div class="container-fluid p-5 bg-body-inverse-info text-info" style="height: 1000px;">
    <div class="cup"></div>
    <div class="nozzle-cola"></div>
    <div class="nozzle-lemon"></div>
    <div class="nozzle-orange"></div>
    <div class="machine"></div>
    <div class="base"></div>
    <button type="button" class="btn btn-cola position-absolute" style="width: 120px; margin-top: 350px; margin-left: calc(50% - 370px);">Cola</button>
    <button type="button" class="btn btn-lemon position-absolute" style="width: 120px; margin-top: 350px; margin-left: calc(50% - 110px);">Lemonade</button>
    <button type="button" class="btn btn-orange position-absolute" style="width: 120px; margin-top: 350px; margin-left: calc(50% + 140px);">Orangeade</button>
    <form id="size" class="btn-group position-absolute" role="group" style="margin-top: 225px; margin-left: calc(50% - 370px);">
        <button id="small" type="submit" class="btn btn-primary">Small</button>
        <button id="medium" type="submit" class="btn btn-primary disabled">Medium</button>
        <button id="large" type="submit" class="btn btn-primary">Large</button>
    </form>
</div>

<script>
    document.getElementById("small").onclick = function(event) {
        event.preventDefault();
        console.log("Button was pressed");
        document.getElementById("small").classList.add('disabled');
        document.getElementById("medium").classList.remove('disabled');
        document.getElementById("large").classList.remove('disabled');
    };

    document.getElementById("medium").onclick = function(event) {
        event.preventDefault();
        console.log("Button was pressed");
        document.getElementById("medium").classList.add('disabled');
        document.getElementById("small").classList.remove('disabled');
        document.getElementById("large").classList.remove('disabled');
    };

    document.getElementById("large").onclick = function(event) {
        event.preventDefault();
        console.log("Button was pressed");
        document.getElementById("large").classList.add('disabled');
        document.getElementById("small").classList.remove('disabled');
        document.getElementById("medium").classList.remove('disabled');
    };
</script>