---
layout: layouts/base.njk
title: Functions & Control Flow
---

<div class="p-5 text-center">
  <h1 class="text-info">Functions and Control Flow</h1>
  <p class="text-primary">This page uses JavaScript functions and control flow to give outputs based on your input!</p>
</div>

<div class="container-fluid m-0 p-5 bg-body-inverse-tertiary text-secondary">
    <form name="sentence" id="sentence" class="row">
        <div class="row p-0 m-0 my-2">
            <p>Press this button to see what happens.</p>
        </div>
        <div class="mb-3">
            <button class="btn btn-lg btn-secondary" type="submit">Click me!</button>
        </div>
        <div class="row p-0 m-0 mt-2">
            <p id="sentenceOut" class="fw-bold">...</p>
        </div>
    </form>
</div>

<script>
    function sentence() {
        return "This button calls a function that outputs this sentence!";
    };

    const sentenceForm = document.getElementById('sentence');
    sentenceForm.addEventListener('submit', function(event) {
        event.preventDefault();
        document.getElementById("sentenceOut").innerHTML = sentence();
    });
</script>

<div class="container-fluid m-0 p-5 bg-body-inverse-info">
    <form name="nameCombine" id="nameCombine" class="row">
        <div class="row p-0 m-0 mb-3">
            <p>When a first name and surname are submitted a JavaScript function is called to combine the two.</p>
        </div>
        <div class="row p-0 m-0">
            <div class="col-12 col-md-6 col-lg-5">
                <div class="mb-3">
                    <div class="input-group">
                        <span class="input-group-text">First Name</span>
                        <input type="text" class="form-control" name="fname" id="fname" aria-label="First name" required>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-5">
                <div class="mb-3">
                    <div class="input-group">
                        <span class="input-group-text">Surname</span>
                        <input type="text" class="form-control" name="lname" id="lname" aria-label="Tip percentage" required>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-2">
                <div class="mb-3 text-lg-center">
                    <button class="btn btn-lg btn-primary" type="submit">submit</button>
                </div>
            </div>
        </div>
        <div class="row p-0 pt-3 m-0">
            <p id="name" class="fw-bold text-info">Full name:</p>
        </div>
    </form>
</div>

<script>
    function combineNames(firstName, surName) {
        return `${firstName} ${surName}`;
    };

    const nameForm = document.getElementById('nameCombine');
    nameForm.addEventListener('submit', function(event) {
        const fname = nameForm.elements.fname.value;
        const lname = nameForm.elements.lname.value;
        event.preventDefault();
        document.getElementById("name").innerHTML = `Full name: ${combineNames(fname, lname)}`;
    });
</script>

<div class="container-fluid m-0 p-5 bg-body-inverse-tertiary text-secondary">
    <form name="coat" id="coat" class="row">
        <div class="row p-0 m-0 my-2">
            <p>Once submitted a JavaScript function determines what you should wear using control flow (if statements).</p>
        </div>
        <div class="row p-0 m-0">
            <div class="col-12 col-md-6 col-lg-5">
                <div class="mb-3">
                    <label for="temp" class="form-label">Temperature</label>
                    <div class="input-group">
                        <input type="number" class="form-control" name="temp" id="temp" aria-label="Temperature" required>
                        <span class="input-group-text">°F</span>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-5">
                <div class="mb-3">
                    <label for="windSpeed" class="form-label">Wind speed</label>
                    <div class="input-group">
                        <input type="number" min="0" class="form-control" name="windSpeed" id="windSpeed" aria-label="Wind speed" required>
                        <span class="input-group-text">mph</span>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-2 align-self-end">
                <div class="mb-3 text-lg-center">
                    <button class="btn btn-lg btn-secondary" type="submit">submit</button>
                </div>
            </div>
        </div>
        <div class="row p-0 pt-3 m-0">
            <p id="clothes" class="fw-bold">You should wear ...</p>
        </div>
    </form>
</div>

<script>
    function coat(temp, windSpeed) {
        if ((temp >= 50 && windSpeed <= 20) || temp >= 60) {
            return "be fine in pants and a vest!";
        } else if ((temp >= 30 && windSpeed <= 20) || temp >= 40) {
            return "put on a coat!";
        } else if ((temp >= 0 && windSpeed <= 20) || temp >= 10) {
            return "put on a coat and a hat!";
        } else {
            return "stay inside!";
        };
    };

    const coatForm = document.getElementById('coat');
    coatForm.addEventListener('submit', function(event) {
        const temp = coatForm.elements.temp.value;
        const speed = coatForm.elements.windSpeed.value;
        event.preventDefault();
        document.getElementById("clothes").innerHTML = `You should ${coat(temp, speed)}`;
    });
</script>

<div class="container-fluid m-0 p-5 bg-body-inverse-info">
    <form name="calculator" id="calculator" class="row">
        <div class="row p-0 m-0 mb-3">
            <p>This form takes 2 numbers and an operator, as a string, which it passes to a function using a switch statement to determine what calculation to do. 
                The JavaScript also ouputs an error message if an unknown operator is enetered, this is just for an example and this form would be better off using 
                something else like a drop down list to restrict the input.
            </p>
        </div>
        <div class="row p-0 m-0">
            <div class="col-12 col-md-5 col-lg-4">
                <div class="mb-3">
                    <label for="numberOne" class="form-label">Number 1</label>
                    <div class="input-group">
                        <input type="number" step="any" class="form-control" name="numberOne" id="numberOne" aria-label="First number" required>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-5 col-lg-4">
                <div class="mb-3">
                    <label for="numberTwo" class="form-label">Number 2</label>
                    <div class="input-group">
                        <input type="number" step="any" class="form-control" name="numberTwo" id="numberTwo" aria-label="Second number" required>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-2 col-lg-2">
                <div class="mb-3">
                    <label for="operator" class="form-label">Operator</label>
                    <div class="input-group">
                        <input type="text" class="form-control" name="operator" id="operator" placeholder="+, -, *, /, %" aria-label="Operator" required>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-2 align-self-end">
                <div class="mb-3 text-lg-center">
                    <button class="btn btn-lg btn-primary" type="submit">submit</button>
                </div>
            </div>
        </div>
        <div class="row p-0 pt-3 m-0">
            <p id="calculation" class="fw-bold text-info">Number 1 (Operator) Number 2 = ...</p>
        </div>
    </form>
</div>

<script>
    function calculator(number1,number2,operator) {
        let value;
        switch (operator) {
            case "+":
                number2 = -number2;
                value = number1 - number2;
                number2 = -number2;
                break;
            case "-":
                value = number1 - number2;
                break;
            case "*":
                value = number1 * number2;
                break;
            case "/":
                value = number1 / number2;
                break;
            case "%":
                value = number1 % number2;
                break;
            default:
                return "Unknown operator, please choose from (+, -, *, /, %)";
        };
        return `${number1} ${operator} ${number2} = ${value}`;
    };

    const calcForm = document.getElementById('calculator');
    calcForm.addEventListener('submit', function(event) {
        const numberOne = calcForm.elements.numberOne.value;
        const numberTwo = calcForm.elements.numberTwo.value;
        const operator = calcForm.elements.operator.value;
        event.preventDefault();
        document.getElementById("calculation").innerHTML = calculator(numberOne, numberTwo, operator);
    });
</script>