---
layout: layouts/base.njk
---

<div class="p-4 pb-2 text-center">
  <h1>Functions and Control Flow</h1>
  <p class="text-secondary">This page uses JavaScript functions and control flow to give outputs based on your input!</p>
</div>