---
layout: layouts/image-gallery.njk

img1: /img/Hut.jpg
alt1: Stone hut

img2: /img/Blue-Tit.jpg
alt2: Blue tit

img3: /img/Puffin-In-Flight.jpg
alt3: Puffin in flight

img4: /img/Priorsford-Bridge.jpg
alt4: Priorsford bridge
---