---
layout: layouts/lightbox-template.njk
title: Image Gallery 1

img1: /img/Hut.jpg
name1: Hut
alt1: Stone hut

img2: /img/Blue-Tit.jpg
name2: Blue-Tit
alt2: Blue tit

img3: /img/Puffin-In-Flight.jpg
name3: Puffin-In-Flight
alt3: Puffin in flight

img4: /img/Priorsford-Bridge.jpg
name4: Priorsford-Bridge
alt4: Priorsford bridge

img5: /img/Eider-Duck.jpg
name5: Eider-Duck
alt5: Eider duck

img6: /img/Hedgehog.jpg
name6: Hedgehog
alt6: Hedgehog

img7: /img/Lamb.jpg
name7: Lamb
alt7: Lamb

img8: /img/Malham-Sunset.jpg
name8: Malham-Sunset
alt8: Malham Sunset

img9: /img/Sutton-Bank-Sunset.jpg
name9: Sutton-Bank-Sunset
alt9: Sutton bank sunset
---

<div class="p-5 text-center">
    <h1 class="text-info">Lightbox</h1>
    <p class="text-primary">I've made a lightbox using Bootstrap modals and carousels, and some mildly horiffic JavaScript!</p>
</div>