---
layout: layouts/base.njk
title: Loops, Arrays, and Objects
---

<div class="p-5 text-center">
  <h1 class="text-info">Loops, Arrays, and Objects</h1>
  <p class="text-primary"></p>
</div>

<div class="container-fluid m-0 p-5 bg-body-inverse-tertiary text-secondary">
    
</div>