---
layout: layouts/base.njk
title: Loops, Arrays, and Objects
---

<div class="p-5 text-center">
  <h1 class="text-info">Loops, Arrays, and Objects</h1>
  <p class="text-primary"></p>
</div>

<div class="container-fluid m-0 p-5 bg-body-inverse-tertiary text-secondary">
    <form name="timesTablesForm" id="timesTablesForm" class="row">
        <div class="row p-0 m-0 my-2">
            <p>A for loop is used to output the times tables of the number that you enter.</p>
        </div>
        <div class="d-flex flex-row p-0 m-0">
            <div class="mb-3 me-3 align-self-center">
                <div class="input-group">
                    <span class="input-group-text">Number</span>
                    <input type="number" class="form-control" name="number" id="number" aria-label="Number" required>
                </div>
            </div>
            <div class="mb-3 text-lg-center">
                <button class="btn btn-lg btn-secondary" type="submit">Submit</button>
            </div>
        </div>
        <div class="row p-0 pt-3 m-0">
            <p id="timesTables" class="fw-bold"></p>
        </div>
    </form>
</div>

<script>
    const timesTablesForm = document.getElementById("timesTablesForm");

    function timesTables (multiple) {
        const timesTables = document.getElementById("timesTables");
        timesTables.innerHTML = "";
        for (i=1; i<12; i++) {
            timesTables.innerHTML += `${multiple} x ${i} = ${i*multiple}<br>`;
        };
        timesTables.innerHTML += `${multiple} x ${12} = ${12*multiple}`;
    }

    timesTablesForm.addEventListener("submit", function (event) {
        event.preventDefault();
        const multiple = timesTablesForm.elements.number.value;
        timesTables(multiple);
    });
</script>

<div class="container-fluid m-0 p-5 bg-body-inverse-info">
    <form name="fruit" id="fruit" class="row">
        <div class="row p-0 m-0 my-2">
            <p>Arrays are used to store multiple values (they can also store other arrays and objects). Array methods can be used to change the array in some way. 
                When the button is pressed an array, containg names of fruit, is listed below. You are then prompted to add a new fruit to the array, and the new list is printed.
            </p>
        </div>
        <div class="mb-3">
            <button class="btn btn-lg btn-primary" type="submit">Print array of fruits</button>
        </div>
        <div class="row p-0 m-0 mt-2">
            <p id="fruitList" class="fw-bold text-info">...</p>
        </div>
    </form>
</div>

<script>
    const fruitForm = document.getElementById('fruit');
    fruitForm.addEventListener('submit', function(event) {
        event.preventDefault();
        const fruitList = document.getElementById("fruitList");
        const fruit = ["apple", "bannana", "pear", "orange", "kiwi"];
        fruitList.innerHTML = "";
        for (i=0; i<fruit.length; i++) {
            fruitList.innerHTML += `${fruit[i]}`;
            if (i < fruit.length-1) {
                fruitList.innerHTML += `, `;
            }
        }
        // Gets user to add another fruit to the end of the list
        setTimeout( function () {
            const newFruit = prompt("Add new fruit to list");
            if (newFruit !== null) {
                fruit.push(newFruit);
                fruitList.innerHTML += `<br>`;
                for (i=0; i<fruit.length; i++) {
                    fruitList.innerHTML += `${fruit[i]}`;
                    if (i < fruit.length-1) {
                        fruitList.innerHTML += `, `;
                    }
                }
            }
        }, 100);
    });
</script>

<div class="container-fluid m-0 p-5 bg-body-inverse-tertiary text-secondary">
    <div class="row p-0 m-0 my-2">
        <p>We use objects to store key value pairs. Both arrays and objects can store other arrays and objects.
            In this example a recipe is stored in an object, a method (function) is called to print "Let's make fruit salad". 
            The ingredients and directions are stored as arrays in the recipe object - they are looped over to print out the lists.</p>
    </div>
    <div class="d-flex flex-row p-0 m-0">
        <div class="mb-3 text-lg-center">
            <button class="btn btn-lg btn-secondary" type="button" data-get-recipe>Get recipe</button>
        </div>
    </div>
    <div class="row p-0 pt-3 m-0">
        <p id="recipeName" class="fw-bold">Recipe</p>
        <div class="col-sm-6">
            <p class="fw-bold">Ingredients:</p>
            <ul id="recipeIngredients"></ul>
        </div>
        <div class="col-sm-6">
            <p class="fw-bold">Method:</p>
            <ol id="recipeMethod"></ol>
        </div>
    </div>
</div>

<script>
    const recipeBtn = document.querySelector("[data-get-recipe]");

    const recipe = {
        title: "fruit salad",
        servings: 4,
        ingredients: ["apple", "orange", "mango", "kiwi"],
        directions: ["slice up fruit", "mix together"],
        letsCook() {document.getElementById("recipeName").innerText = `Let's make ${recipe.title}`}
    };

    getRecipeIngredients = (recipe) => {
        const ingredients = document.getElementById("recipeIngredients");
        for (i=0; i<recipe.ingredients.length; i++) {
            ingredients.innerHTML += `<li>${recipe.ingredients[i]}</li>`;
        }
    }

    getRecipeInstructions = (recipe) => {
        const directions = document.getElementById("recipeMethod");
        for (i=0; i<recipe.directions.length; i++) {
            directions.innerHTML += `<li>${recipe.directions[i]}</li>`;
        }
    }

    recipeBtn.addEventListener("click", (event) => {
        event.preventDefault();
        recipe.letsCook();
        getRecipeIngredients(recipe);
        getRecipeInstructions(recipe);
    })
</script>