---
layout: layouts/base.njk
title: Pseudocode
---

<div class="p-5 text-center">
  <h1 class="text-info">Pseudocode & Comments</h1>
  <p class="text-primary">Pseudocode can be used to write our code in plain english. It's useful for planning and as an explanation for anyone else reading the code.</p>
</div>