---
layout: layouts/base.njk
title: Pseudocode
---

<div class="p-5 text-center">
  <h1 class="text-info">Pseudocode & Comments</h1>
  <p class="text-primary">Pseudocode can be used to write our code in plain english. It's useful for planning and as an explanation for anyone else reading the code.</p>
</div>

<div class="container-fluid m-0 p-5 bg-body-inverse-tertiary text-secondary">
    <form name="books" id="books" class="row">
        <div class="row p-0 m-0 mb-3">
            <p>Text here</p>
        </div>
        <div class="row p-0 m-0">
            <div class="col-12 col-md-6 col-lg-4">
                <div class="mb-3">
                    <div class="input-group">
                        <span class="input-group-text">Title</span>
                        <input type="text" class="form-control" name="title" id="title" aria-label="Book title" required>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="mb-3">
                    <div class="input-group">
                        <span class="input-group-text">Author</span>
                        <input type="text" class="form-control" name="author" id="author" aria-label="Book author" required>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-2">
                <div class="mb-3 text-center">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="readOptions" id="yes" value="true">
                        <label class="form-check-label" for="yes">Book <strong>has</strong> been read</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="readOptions" id="no" value="flase">
                        <label class="form-check-label" for="no">Book <strong>hasn't</strong> been read</label>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-2">
                <div class="mb-3 text-lg-center">
                    <button class="btn btn-lg btn-secondary" type="submit">submit</button>
                </div>
            </div>
        </div>
    </form>
    <form name="booksList" id="booksList" class="row">
        <div class="row p-0 m-0">
            <div class="col">
                <div class="mb-3 text-lg-center">
                    <button class="btn btn-lg btn-secondary" type="submit">Get list of books</button>
                </div>
            </div>
        </div>
        <div class="row p-0 pt-3 m-0">
            <p id="booksListed" class="fw-bold text-secondary"></p>
        </div>
    </form>
</div>

<script>
// Create array with objects, each object should have a book title, author, and read value (true or false)
// Take submission from form and add to array
// FUNCTION: can be called and outputs the book, author, and if it's been read
  // LOOP: goes over each objects in the array
    // IF book has been read
      // PRINT "book title" by "author" has been read
    //ELSE IF book hasn't been read
      // PRINT "book title" by "author" wants to be read

const books = [];

const booksForm = document.getElementById('books');
    booksForm.addEventListener('submit', function(event) {
        event.preventDefault();
        const title = booksForm.elements.title.value;
        const author = booksForm.elements.author.value;
        const read = booksForm.elements.readOptions.value;
        books[books.length] = {
            title: title,
            author: author,
            read: read
        };
    });

const booksListForm = document.getElementById('booksList');
    booksListForm.addEventListener('submit', function(event) {
        event.preventDefault();
        readingList(books);
    });

function readingList(books) {
    let list = "";
    for (let i=0; i<books.length; i++) {
        if (books[i].read === "true") {
            console.log(books[i].read);
            list = list + `${books[i].title} by ${books[i].author} has been read <br>`;
        } else {
            list = list + `${books[i].title} by ${books[i].author} wants to be read <br>`;
        }
    }
    document.getElementById("booksListed").innerHTML = list;
}

readingList(books);
</script>