---
layout: layouts/base.njk
title: The DOM
---

<div class="p-5 text-center">
  <h1 class="text-info">The DOM</h1>
  <p class="text-primary">The document object model (DOM) is the HTML element structure of the page, and what we apply our JavaScript to.</p>
</div>

<div class="container-fluid m-0 p-5 bg-body-inverse-tertiary text-secondary">
  <form id="todo" class="row">
    <div class="row p-0 m-0 mb-3">
      <h2 class="mb-3">Todo</h2>
      <p>This is an interactive todo list. New items can be added with a title and priority using the below form. Once added the most recent todo is highlighted, and done tasks can be removed with a click on the item.</p>
    </div>
    <div class="row p-0 m-0">
      <div class="col-12 col-md-6 col-lg-4 mb-3">
        <div class="input-group">
          <label for="title" class="input-group-text">Title</label>
          <input type="text" class="form-control" name="title" id="title" aria-label="Todo list item title" required>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 mb-3">
        <div class="d-flex flex-row mb-3">
          <div class="input-group" style="width: 200px;">
            <label for="priority" class="input-group-text">Priority</label>
            <select class="form-select" name="priority" id="priority" aria-label="Todo list item priority">
                <option value="low">Low</option>
                <option value="medium" selected>Medium</option>
                <option value="high">High</option>
            </select>
          </div>
          <button type="submit" class="btn btn-secondary ms-4">Add</button>
        </div>
      </div>
    </div>
  </form>

  <ul id="todo-pane" class="text-info"></ul>
  
</div>

<div class="container-fluid m-0 py-5 px-3 px-sm-5 bg-body-secondary text-info text-center">
  <h2 class="mb-3">Animal Filters</h2>
  <form id="filters" class="row p-0 m-0 mb-3">
    <div class="mb-3 text-center" style="max-width: 100vw;">
      <span class="me-3" style="margin-left: auto;">Type: </span>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="animalType" id="sea bird" value="sea bird">
        <label class="form-check-label" for="sea bird">Sea Birds</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="animalType" id="duck" value="duck">
        <label class="form-check-label" for="duck">Ducks</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="animalType" id="mammal" value="mammal">
        <label class="form-check-label" for="mammal">Mammals</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="animalType" id="butterfly or moth" value="butterfly or moth">
        <label class="form-check-label" for="butterfly or moth">Butterflies & Moths</label>
      </div>
      <div class="form-check form-check-inline" style="margin-right: auto;">
        <input class="form-check-input" type="radio" name="animalType" id="all" value="all" checked>
        <label class="form-check-label" for="all">Show All</label>
      </div>
    </div>
    <div class="d-flex flex-row text-center">
      <label class="me-3 align-self-center" for="search" style="margin-left: auto;">Search: </label>
      <input class="form-control" type="search" name="search" id="search" style="margin-right: auto; width: 350px;">
    </div>
  </form>

  <div class="m-0 mb-3 p-0" id="summary"></div>

  <div id="results" class="m-0 p-0">
    <img class="imageFilter" loading="lazy" src="/img/animal_filters/P1108207(edit).webp" alt="Male mallard standing in shallow water" animal="duck">
    <img class="imageFilter" loading="lazy" src="/img/animal_filters/P1107239(edit).webp" alt="Puffin in flight" animal="sea bird">
    <img class="imageFilter" loading="lazy" src="/img/animal_filters/P1108021(edit)(2).webp" alt="Roe deer in standing in long grass" animal="mammal">
    <img class="imageFilter" loading="lazy" src="/img/animal_filters/P1107307(edit).webp" alt="Gannet collecting grass for nesting" animal="sea bird">
    <img class="imageFilter" loading="lazy" src="/img/animal_filters/P1049980(edit).webp" alt="Dark green fritillary on a pink clover" animal="butterfly or moth">
    <img class="imageFilter" loading="lazy" src="/img/animal_filters/P1048338(edit).webp" alt="Goosander juveniles swimming" animal="duck">
    <img class="imageFilter" loading="lazy" src="/img/animal_filters/P1120224(edit).webp" alt="Eider duck flapping wings on the sea" animal="duck">
    <img class="imageFilter" loading="lazy" src="/img/animal_filters/P1011310(edit).webp" alt="Hedgehog under bushes" animal="mammal">
    <img class="imageFilter" loading="lazy" src="/img/animal_filters/P1121949.webp" alt="Hummingbird hawkmoth hovering next to a buddleia" animal="butterfly or moth">
    <img class="imageFilter" loading="lazy" src="/img/animal_filters/P1047687(edit).webp" alt="Female mandarin duck with reflection" animal="duck">
    <img class="imageFilter" loading="lazy" src="/img/animal_filters/P1097022(edit).webp" alt="Razorbill trying to land in strong winds" animal="sea bird">
    <img class="imageFilter" loading="lazy" src="/img/animal_filters/P1061433(edit).webp" alt="Stoat staing in an alpine meadow" animal="mammal">
    <img class="imageFilter" loading="lazy" src="/img/animal_filters/P1143202.webp" alt="Marmot lying in the sun" animal="mammal">
    <img class="imageFilter" loading="lazy" src="/img/animal_filters/P1132150.webp" alt="Adonis blue butterfly" animal="butterfly or moth">
    <img class="imageFilter" loading="lazy" src="/img/animal_filters/P1095791(edit).webp" alt="Bar-tailed godwit in the sea at Whitby" animal="sea bird">
    <img class="imageFilter" loading="lazy" src="/img/animal_filters/P1132382.webp" alt="Swollowtail butterfly on a buddleia" animal="butterfly or moth">
  </div>
</div>

<style>
/* The unordered list containing the todos */
#todo-pane {
  padding: 0;
}

/* The todos themselves */
#todo-pane li {
  display: flex;
  max-width: 20em;
  align-items: center;
  background-color: lightyellow;
  border: thin #d99531 solid;
  border-radius: 0.25em;
  padding: 0.5em;
  margin: 1em 0;
}

/* A todo that was just created */
.just-created {
  box-shadow: 0 0 20px 1px #d99531;
}

/* Image gallery style */
.hidden {
  display: none;
}

img {
  padding: 5px 3px;
  max-width: 90vw;
}
</style>

<script>
const priorityImages = {
  low: 'text-success',
  medium: 'text-warning',
  high: 'text-danger',
};

const todo = document.forms.todo;
const todoPane = document.getElementById("todo-pane");
const titleInput = document.getElementById("title");
const prioritySelect = document.getElementById("priority");
const allTodos = document.querySelectorAll(".todo");

todo.addEventListener("submit", function (event) {
  event.preventDefault();
  const newTodo = titleInput.value;
  console.log(newTodo);
  for (i=0; i<todoPane.children.length; i++) {
    todoPane.children[i].classList.remove("just-created");
  }
  todoPane.appendChild(createTodo(newTodo));
  console.log(todoPane);
  titleInput.value = "";
});

function createTodo(title) {
  const list = document.createElement("li");
  const text = document.createTextNode(`\xa0\xa0${title}`);
  const flag = document.createElement("i");
  flag.classList.add("bi", "bi-flag-fill", `${priorityImages[prioritySelect.value]}`);
  list.appendChild(flag);
  list.appendChild(text);
  list.classList.add("todo", "just-created");
  list.addEventListener("click", (e) => {e.currentTarget.remove();});
  return list;
}

const animalRadios = document.getElementsByName("animalType");
const images = document.getElementsByClassName("imageFilter");
const searchBox = document.getElementById("search");
const form = document.getElementById("filters");
const summary = document.getElementById("summary");

for (i=0; i<images.length; i++){
  images[i].setAttribute("title", `${images[i].alt}`);
};

function filterAnimals(e) {
  const type = document.querySelector('input[name="animalType"]:checked').value;
  const search = document.querySelector('input[name="search"]').value;
  const text = document.createTextNode((search != "") ? `Showing animals that match the search "${search}" and the filter "${type}"` : `Showing animals that match the filter "${type}"`);
  const para = document.createElement("p");
  para.appendChild(text);
  if (summary.children.length > 0) {
    summary.removeChild(summary.firstChild);
  }
  summary.appendChild(para);
  for (const image of images) {
    // console.log(image.attributes.alt.value);
    if ((type === "all" || type === image.attributes.animal.value) && image.attributes.alt.value.toLowerCase().includes(search.toLowerCase())) {
      image.classList.remove("hidden");
    } else {
      image.classList.add("hidden");
    }
  }
}

for (i=0; i<animalRadios.length; i++) {
  animalRadios[i].addEventListener("change", filterAnimals);
}

searchBox.addEventListener("input", filterAnimals);
form.addEventListener("submit", (e) => {e.preventDefault();});

</script>