---
layout: layouts/base.njk
---

<div class="p-4 pb-2 text-center">
  <h1>Tip Calculator</h1>
  <p class="text-secondary">This page uses JavaScript to calculate a total bill based on the pre-tip total and tip percentage that you enter!</p>
</div>